
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-souris: #4b4b4b;
$color-menu:rgb(247, 244, 244);
$color-shadow: #d5d9db;

$text-font: "Roboto", sans-serif;
$logo-title-font: "Shrikhand", arial;

@mixin btn {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    color: white;
    padding: 1em 1.3em ;
    border-radius: 10rem;
    border: none;
    box-shadow: 1px 5px 10px 1px $color-shadow;
}
@mixin bright-btn {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    opacity: 0.8;
    box-shadow: 1px 5px 10px 5px grey;
}
@mixin bright-menu {
    background-color:#f2eafb;
}
@mixin icone-hover {
    color: $color-primary;
}
@mixin box-shadow {
    box-shadow: 1px 5px 10px 1px $color-shadow;
}
@mixin hoverlike {
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@keyframes load {
    0% {
      opacity: 0;
      transform: translateX(-300px);
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
      -webkit-transform: translateX(300px);
    }
  }
@keyframes like{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1);
    }
}
@keyframes epd{
    0%{
        transform: translateY(-50%);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
        
    }
    
}

  
body{
    font-family: $text-font;
    margin: 0;
}
.loader{
    font-family: $logo-title-font;
    position: fixed;
    z-index: 99999;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: 3s;
    background-color: #FFF;
    .loader-inner{
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        width: calc(100% - 200px);
        color: black;
        padding: 0 100px;
        text-align: center;
        label {
            font-size: 2em;
            opacity: 0;
            display:inline-block;
        }
        label:nth-child(4){
            -webkit-animation: load 3s 200ms infinite ease-in-out;
            animation: load 3s 200ms infinite ease-in-out;
            color: $color-tertiary;
        }
        label:nth-child(3){
            -webkit-animation: load 3s 300ms infinite ease-in-out;
            animation: load 3s 300ms infinite ease-in-out;
            color: $color-secondary;
        }
        label:nth-child(2){
            -webkit-animation: load 3s 400ms infinite ease-in-out;
            animation: load 3s 400ms infinite ease-in-out;
            color: $color-primary;
        }
        label:nth-child(1){
            -webkit-animation: load 3s 500ms infinite ease-in-out;
            animation: load 3s 500ms infinite ease-in-out;
            @include hoverlike;
        }
    }
}
a:link
{
    text-decoration: none;
    color: inherit;
}
#logo_header {
    text-align: center;
    font-family: $logo-title-font;
    margin-bottom: 8px;
}
#localisation {
    display: flex;
    background-color: #e9e9e9;
    box-shadow: inset 0 5px 10px $color-shadow;
    padding: 15px;
    justify-content: center;
}
.fa-map-marker-alt {
    margin-right: 10px;
}
#Rechercher
{
    background-color: #e9e9e9;
    border: none;
}
#introduction {
    background-color: $color-menu;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    h2{
        margin: none;
    }
    p{
        color: grey;
        padding-bottom: 20px;
        margin: 10px
    }
}
.explore{
    @include btn;
    &:hover{
        @include bright-btn;
    }
}
#fonctionnement
{
    padding: 20px 15px 30px 0px;
    margin-left: 15px;
}
.button__fonct-menu{
    display: flex;
    align-items: baseline;
    background-color: $color-menu;
    margin-bottom: 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 12px;
    padding: 5px 30px 5px;
    box-shadow: 1px 5px 10px 1px $color-shadow;
    &:hover{
        @include bright-menu;
        &:hover .fonct-menu__logo{
            @include icone-hover;
        }
    }
    .fonct-menu__num{
        color: white;
        background-color: $color-primary;
        padding: 0.2em 0.5em;
        border-radius: 50%;
        margin-right: 20px;
        position: absolute;
        left: 17px;
        margin-top: 16px;
        font-size: 0.8em;
    }
    .fonct-menu__logo{
        margin-right: 20px;
        color: grey;
    }
    .fonct-menu__titre{
        color: black;
    }
}
#restaurants{
    background-color: $color-menu;
    padding-top: 20px;
    padding-bottom: 40px;
    h2{
        margin: 20px;
    }
}
.projet-omf{
    margin: 15px;
    background-color: white;
    @include box-shadow;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        justify-content: center;
    }
    .projet-omf__banniere{
        position: absolute;
        background-color: $color-tertiary;
        color: #278870;
        border-radius: 2px;
        padding: 6px 10px;
        right: 30px;
        margin-top: 15px;
    }
    .projet-omf__legende{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .projet-omf__legende--titre{
            margin: 6px 8px;
            font-weight: inherit;
            color: #333;
            h4{
                margin: inherit;
            }
            p{
                margin: inherit;
            }
        }
        .projet-omf__stars--k{
            font-size: 25px;
            color: $color-souris;
            cursor: pointer;
            .icone-vide{
                position: absolute;
                right: 35px;
                margin-top: -16px;
            }
            .icone-plein{
                position: absolute;
                color: transparent;
                font-size: 27px;
                right: 34px;
                margin-top: -16px;
                transform: scale(0.4);
                transition: transform 0.5s;
                &:hover{
                    transform: scale(1.1);  
                    @include hoverlike;  
                }
            }
        } 
    }
}
#footer-content{
    background-color: #373737;
    color: white;
    padding: 15px 0px 20px 20px;
    .footer-content__logo{
        font-family: $logo-title-font;
    }
    .footer-content__list{
        list-style: none;
        padding: 0px;
        color: inherit;
        .fa-utensils{
            padding-right: 10px;
        }
        .fa-hands-helping{
            padding-right: 8px;
            font-size: 0.7em;
        }
    }

}
#bloc-page-carte{
    .retour{
        position: absolute;
        color: $color-souris;
        left: 15px;
        margin-top: 8px;
    }
}
#carte-image{
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
#carte-menu{
    border-radius: 30px 30px;
    margin-top: -3rem;
    position: relative;
    background-color: #FFF;
    .carte-menu__titre{
        position: relative;
        padding: 20px 10px 25px 20px;
        h2{
            font-family: $logo-title-font;
            position: relative;
            left: 1px;
            margin: 0px 0px;
        }
        .carte-menu__titre--heart{
            font-size: 25px;
            color: $color-souris;
            position: absolute;
            right: 10px;
            margin-top: -33px;
            cursor: pointer;
            .icone-vide{
                position: absolute;
                right: 25px;
            }
            .icone-plein{
                font-size: 27px;
                position: absolute;
                color: transparent;
                right: 24px;
                transform: scale(0.4);
                transition: transform 1s;
                &:hover{
                    transform: scale(1.1); 
                    @include hoverlike;
                }
            }
        }
    }
}
.pagemenu{
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    .menu{
        grid-column-start: 2;
    }
    .epd{
        margin: 20px 0px 20px 0px;
        color: $color-souris;
        &::after{
            content: '';
            display: block;
            height: 2px;
            background: $color-tertiary;
            width: 11%;
            margin-top: 5px;
        }
    }
    .menu-box-entrées{
        animation: epd 700ms ease-in;
        -moz-animation: epd 700ms ease-in;
        -webkit-animation: epd 700ms ease-in;
        animation-delay: 100ms;
    }
    .menu-box-plats{
        animation: epd 700ms ease-in;
        -moz-animation: epd 700ms ease-in;
        -webkit-animation: epd 700ms ease-in;
        animation-delay: 500ms;
    }
    .menu-box-desserts{
        animation: epd 700ms ease-in;
        -moz-animation: epd 700ms ease-in;
        -webkit-animation: epd 700ms ease-in;
        animation-delay: 1000ms;
    }
    
    
    .suggestion{
        @include box-shadow;
        border-radius: 15px;
        margin: 10px 0px 15px 0px;
        padding: 10px;
        position: relative;
        overflow: hidden;
        &:hover > .suggestion__description{
            width: 80%;
            overflow: hidden;
            transform: translateX(-1%);
            transition: transform 2s ease-in;
            
        }
        
        &:hover > .suggestion__like{
            visibility: visible;
            transform: translateX(-100%);
            transition: transform 0.5s ease-in;
            .suggestion__like--check{
                transform: rotate(360deg);
                transition-duration: 750ms;
            }  
        }
        .suggestion__like{
            background-color: $color-tertiary;
            width: 60px;
            height: 61px;
            position: absolute;
            right: -60px;
            margin-top: -9.5px;
            border-radius: 0px 10px 10px 0px;
            visibility: hidden;
            flex-basis: 20%;
            
            
            .suggestion__like--check{
                position: absolute;
                top: 18px; left: 18px;
                margin: 0px;
                color: #FFF;
                font-size: 24px;
                
            }
        }
        .suggestion__plat{
            margin-bottom: 5px;
        }
        .suggestion__description{
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            .legende{
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .prix{
                position: relative;
            }
            p{
                margin-block: auto;
                font-size: 0.9em;
            }
        }
        
    }
    .order{
        @include btn;
        display: block;
        margin: 20px 30px 30px 40px;
        width: 50%;
        margin: 40px auto 50px;
        cursor: pointer;
        &:hover{
            @include bright-btn;
        }
    }
}
@media screen and (min-width : 1100px){
    .loader{
        .loader-inner{
            label{
                font-size: 4em;
            }
        }
    }
    #fonctionnement{
        display: flex;
        justify-content: space-around;
        padding: 30px 0px;
        margin: auto;
    }
    .button__fonct-menu{
        margin-bottom: 0px;
        padding-top: 8px;
        .fonct-menu__num{
            position: inherit;
    
        }

    }
    
    #restaurants{
        display: flex;
        justify-content: space-around;
        padding: 70px 10px 50px 10px;
        h2{
            position: absolute;
            left: 22px;
            margin-top: -2.7rem;
        }
    }
    .projet-omf{
        img{
            width: 250px;
        }
        .projet-omf__banniere{
            position: absolute;
            right: auto;
        }
        .projet-omf__legende{
            .projet-omf__stars--k{
                position: relative;
            }
        }
        
    }
    #footer-content {
        text-align: center;
        .footer-content__logo{
            font-size: 1.6em;
        }
        .footer-content__list{
            font-size: 1em;
        }
    }
    .pagemenu{
        .epd{
            &::after{
                content: '';
                display: block;
                height: 2px;
                background: $color-tertiary;
                width: 4%;
                margin-top: 5px;
            }
        }
        .menu-box-entrées, .menu-box-plats, .menu-box-desserts{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .suggestion{
            width: 30%;
        }
        
    }
    


}
@media screen and (min-width : 768px) and (max-width : 1100px){
    .loader{
        .loader-inner{
            label{
                font-size: 3em;
            }
        }
    }
    #fonctionnement{
        width: 40%;
        margin: auto;
        h2{
            text-align: center;
        }
        .button__fonct-menu{
            display: flex;
            justify-content: space-around;
            .fonct-menu__num{
                position: inherit;
            }
        }
    }
    #restaurants{
        padding: 70px 10px 50px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        h2{
            position: absolute;
            margin-top: -43px;
        }
        .projet-omf{
            .projet-omf__banniere{
                position: absolute;
                right: auto;
            }
            .projet-omf__legende{
                .projet-omf__stars--k{
                    position: relative;
                }
            }
        }
    }
    #footer-content {
        text-align: center;
        .footer-content__logo{
            font-size: 1.6em;
        }
        .footer-content__list{
            font-size: 1em;
        }
    }
    .pagemenu{
        .epd{
            &::after{
                content: '';
                display: block;
                height: 2px;
                background: $color-tertiary;
                width: 5%;
                margin-top: 5px;
            }
        }
        .menu-box-entrées, .menu-box-plats, .menu-box-desserts{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .suggestion{
            width: 40%;
        }
    }
}
