@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
#logo_header {
    text-align: center;
    font-family: 'Shrikhand',Arial, Helvetica, sans-serif;
}
#localisation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: rgb(230, 232, 234);
    box-shadow: 0 1px 5px gray;
    font-size: 1.5em;
}
.fa-map-marker-alt {
    margin-right: 20px;
}
#introduction {
    background-color: rgb(247, 244, 244);
    text-align: center;
    padding: 25px;
}
.projet-omf{
    width: auto;
    height: 80%;
}
.projet-omf__image{
    width: auto;
    height: 80%;
}
.projet-omf__image img{
    max-width: 100%;
    max-height: 100%;
    
}

