@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}

#logo_header {
  text-align: center;
  font-family: "Shrikhand", arial;
  margin-bottom: 8px;
}

#localisation {
  display: flex;
  background-color: #e9e9e9;
  box-shadow: inset 0 5px 10px #d5d9db;
  padding: 15px;
  justify-content: center;
}

.fa-map-marker-alt {
  margin-right: 10px;
}

#Rechercher {
  background-color: #e9e9e9;
  border: none;
}

#introduction {
  background-color: #f7f4f4;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}
#introduction h2 {
  margin: none;
}
#introduction p {
  color: grey;
  padding-bottom: 20px;
  margin: 10px;
}

.explore {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  padding: 1em 1.3em;
  border-radius: 10rem;
  border: none;
  box-shadow: 1px 5px 10px 1px #d5d9db;
}
.explore:hover {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  filter: brightness(1.15);
  box-shadow: 1px 5px 10px 5px grey;
}

#fonctionnement {
  padding: 20px 15px 30px 0px;
  margin-left: 15px;
}

.button__fonct-menu {
  display: flex;
  align-items: baseline;
  background-color: #f7f4f4;
  margin-bottom: 15px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 12px;
  padding: 5px 30px 5px;
  box-shadow: 1px 5px 10px 1px #d5d9db;
}
.button__fonct-menu:hover {
  background-color: #f2eafb;
}
.button__fonct-menu:hover:hover .fonct-menu__logo {
  color: #9356dc;
}
.button__fonct-menu .fonct-menu__num {
  color: white;
  background-color: #9356dc;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  margin-right: 20px;
  position: absolute;
  left: 17px;
  margin-top: 16px;
  font-size: 0.8em;
}
.button__fonct-menu .fonct-menu__logo {
  margin-right: 20px;
  color: grey;
}
.button__fonct-menu .fonct-menu__titre {
  color: black;
}

#restaurants {
  background-color: #f7f4f4;
  padding-top: 20px;
}
#restaurants h2 {
  margin: 20px;
}

.projet-omf {
  margin: 15px;
  background-color: white;
  box-shadow: 1px 5px 10px 1px #d5d9db;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.projet-omf img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  justify-content: center;
}
.projet-omf .projet-omf__banniere {
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  padding: 6px 10px;
  right: 30px;
  margin-top: 15px;
}
.projet-omf .projet-omf__legende {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projet-omf .projet-omf__legende .projet-omf__legende--titre {
  margin: 6px 8px;
  font-weight: inherit;
  color: #333;
}
.projet-omf .projet-omf__legende .projet-omf__legende--titre h4 {
  margin: inherit;
}
.projet-omf .projet-omf__legende .projet-omf__legende--titre p {
  margin: inherit;
}
.projet-omf .projet-omf__legende .projet-omf__stars--k {
  font-size: 25px;
}
.projet-omf .projet-omf__legende .projet-omf__stars--k .icone-vide {
  color: #333;
}
.projet-omf .projet-omf__legende .projet-omf__stars--k .icone-plein {
  color: linear-gradient(170deg, #ff79da, #9356dc);
}

#footer-content {
  background-color: #373737;
  color: white;
  padding: 15px 0px 20px 20px;
}
#footer-content .footer-content__logo {
  font-family: "Shrikhand", arial;
}
#footer-content .footer-content__list {
  list-style: none;
  padding: 0px;
  color: inherit;
}
#footer-content .footer-content__list .fa-utensils {
  padding-right: 10px;
}
#footer-content .footer-content__list .fa-hands-helping {
  padding-right: 8px;
  font-size: 0.7em;
}

/*# sourceMappingURL=style.css.map */
